
*{
  margin:0;
  padding: 0;
}


*, *::before, *::after{ box-sizing: border-box;}


body{
  width: 100vw;
  margin:0;
  background-color: #ffdf98;
}


h2{
  font-size: 60px;

}


.done{
  text-decoration: line-through;
  color: rgba(255,223,152,0.8);
;
}


.container{
display: flex;
align-items: center;
// justify-content: center;
flex-flow: column;
background-color: rgba(255, 223, 152, 0.8);
height: 60%;
width: 50%;
margin: 8% 3% 8% 3%;
font-family: 'Dancing Script', cursive;
padding: 4% 0 4% 0;
border-radius: 20px 150px 20px 150px;
box-shadow:
 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
 0 12.5px 10px rgba(0, 0, 0, 0.06),
 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
 0 100px 80px rgba(0, 0, 0, 0.12)
;
color: #fff;
}


.container h2{
  // text-decoration: underline 3px;
}

.priorities{
background-color: rgba(0, 0, 0, 0.3);
  height: 60%;
  width: 50%;
  margin: 8% 3% 8% 3%;
  display: flex;
  align-items: center;
  flex-flow: column;
  font-family: 'Dancing Script', cursive;
  padding: 4% 0 4% 0;
  border-radius: 150px 20px 150px 20px;
  box-shadow:
 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
 0 12.5px 10px rgba(0, 0, 0, 0.06),
 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
 0 100px 80px rgba(0, 0, 0, 0.12);
}


.priorities h2{
  // text-decoration: underline 3px;
  margin-bottom: 1.5rem;
  color: #fff;
}


.item-box button:hover{
  animation-name: transformButtons;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes transformButtons {
  0%{
    text-decoration: none;
  }
  100%{
    transform: scale(1.3); color:#fb4e07;
    // text-decoration: none; color:#3cb3f3;
  }

}


.inputField-addBtn-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  width: 80%;
}


#inputField{
  padding: 0.5rem 1rem;
  height: 50px;
  outline: none;
  background-color: #fff;
  width: 100%;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  border: none;
}


#add-to-do{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  margin: 0.25px;
  border: none;
  background-color: #fff;
  cursor:pointer;
}

#add-to-do:hover{
  opacity: 0.5;
}


.container .to-do-items-container{
  font-size: 40px;
  margin-top: 8%;
  background-color: white;
  width: 75%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 55%;
  padding: 4% 0 4% 0;
  overflow-x: hidden;
  overflow-y: scroll;
  // border: 2px dashed black;
}


.container .item-box{
  // padding: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 75%;
  justify-content: space-evenly;
}


.item-input{
  background: none;
  outline: none;
  color: black;
  border: none;
  width: 60%;
  font-size: 2.0rem;
  text-align: center;
  // overflow: scroll;
  font-family: Dancing Script;
}


.editBtn{
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  outline: none;
  margin: 0.25px;
  border: none;
  background-color: rgba(255,223,152,0.8);
  cursor:pointer;
  margin: 2px;
}


.priorityBtn{
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  outline: none;
  margin: 0.25px;
  border: none;
  background-color: rgba(255,223,152,0.8);
  cursor:pointer;
  margin: 2px;
}


.removeBtn{
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  outline: none;
  margin: 0.25px;
  border: none;
  background-color: rgba(255,223,152,0.8);
  cursor:pointer;
  margin: 2px;
}

#priorities-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
  height: 100%;
  overflow-y: scroll;
}


// #priorities-list .removeBtn{
//   margin-left: 8%;
//   text-decoration: none;
// }


.priorities-list-item{
  cursor:pointer;
}

.priorities-box{
  // font-size: 2.8rem;
  font: 2.2rem Dancing Script;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 55%;
  border: 2px dashed #fff;
  color: #fff;
}


#priorities-legend{
width: 75%;
display: flex;
align-items: center;
justify-content: center;
max-height: 20%;
font-size: 2.0rem;
color: #fff;
font-family: 'Raleway', sans-serif;
margin-bottom: 1.8rem;
text-decoration: none;
}


.divs{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family:sans-serif;
  width: 100%;
  height: 100vh;
}


.div-1{
background-image: url(/img/StockSnap_V7HFIL2OWA.jpg);
background-size:cover;
background-position: 0 -200px;
}


.div-2{
  background-color: rgb(177, 219, 236);
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family:sans-serif;
  width: 100%;
  height: 100vh;
  // box-shadow: 80px 8px 6px -6px black;

}


.div-3{
  background-color: yellow;
  background-image: url(/img/pexels-olya-kobruseva-5408915.jpg);
  background-size:cover;
  background-position: center;
}


.div-4{
  background-color: #ffdf98;
}


.div-5{
  background-image: url(/img/pexels-cottonbro-5191390.jpg);
  background-size:cover;
  background-position: center;
  background-color: yellow
}


.div-6{
  background-color: #B1DBEC;
}
